  {% if config.debug %}
    <script src="{{ '/scripts/main.js' | path }}?v={{ config.hash }}" defer></script>
  {% else %}
    <script src="{{ '/scripts/main.min.js' | path }}?v={{ config.hash }}" defer></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceworker.js?v={{ config.hash }}');
      }
    </script>
  {% endif %}
  </body>
</html>
